@tailwind base;
@tailwind components;
@tailwind utilities;



.snow{
  background-image:  url("../app/image/snow.png") ;

}

input:active, input:focus{
  outline: 1px solid transparent;
  border: none;
}