@tailwind base;
@tailwind components;
@tailwind utilities;



.snow{
  background-image:  url("../app/image/snow.png") ;

}

@media screen and (max-width : 600px) {
  .snow{
  background-image:  url("../app/image/rain.png") ;

}
}
html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

input:active, input:focus{
  outline: 1px solid transparent;
  border: none;
}